version: '2.1'
orbs:
  node: circleci/node@7.2.1
  aws-s3: circleci/aws-s3@4
  aws-cli: circleci/aws-cli@5.4.1
workflows:
  build-project:
    jobs:
      - node/run:
          executor:
            name: node/default
          pnpm-run: build
  sync-to-s3:
    jobs:
      - aws-s3/sync:
          aws-region: AWS_DEFAULT_REGION
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          from: dist/
          to: s3://freeorange.net/
          arguments: |
            --delete
    invalidate-cloudfront:
      executor: aws-cli/default
      jobs:
        - run:
            name: Invalidating CloudFront distribution (freeorange.net)
            command: |
              aws cloudfront create-invalidation \
                --distribution-id "${CLOUDFRONT_FREEORANGE_NET}" \
                --paths '/*'


# workflows:
#   test_my_app:
#     jobs:
#       - build-and-deploy

# # Orchestrate jobs using workflows
# # See: https://circleci.com/docs/guides/orchestrate/workflows/
# # https://circleci.com/docs/reference/configuration-reference/#workflows
# #
# # workflows:
# #   main:
# #     jobs:
# #       - node:
# #           post-steps:
# #             - run: pnpm run build
# #             - aws-s3/sync:
# #                 from: dist/
# #                 to: s3://freeorange.net/
# #                 arguments: |
# #                   --delete
# #             - run:
# #                 name: Invalidating CloudFront distribution (freeorange.net)
# #                 command: |
# #                   aws cloudfront create-invalidation \
# #                     --distribution-id "${CLOUDFRONT_FREEORANGE_NET}" \
# #                     --paths '/*'
