@import "tailwindcss";

@font-face {
  font-family: "Open Gorton";
  src: url("/OpenGorton-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Gorton";
  src: url("/OpenGorton-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  @apply h-full overflow-auto;
  font-family: "Open Gorton", ui-rounded, "Hiragino Maru Gothic ProN", Quicksand,
    Comfortaa, Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri,
    source-sans-pro, sans-serif;
}

#container {
  @apply flex flex-col justify-between p-10 md:p-40 h-full;

  &::before {
    @apply top-0 left-0 -z-10 absolute opacity-4 w-screen h-screen;
    content: "\0a0";
    background: url(/noise.webp) repeat;
  }
}

main {
  @apply max-w-lg h-full;
}

header h1 {
  @apply font-bold text-orange-500 text-5xl;

  span:nth-of-type(1) {
    @apply block [word-spacing:-0.5rem] md:[word-spacing:-0.5rem];
  }

  span:nth-of-type(2) {
    @apply font-normal;
  }

  --lines: 0.125rem;
  mask: repeating-radial-gradient(
    circle at 1.32rem 4.7rem,
    #000,
    var(--lines),
    #000,
    0,
    #0000,
    calc(var(--lines) * 2),
    #0000 0 /* trailing 0 is part of the hard stop logic */
  );
}

main p {
  @apply my-6 md:my-12 text-orange-500 text-3xl leading-10 md:leading-12 tracking-wider;

  > span {
    @apply md:inline-block;

    &:nth-of-type(1) {
      @apply block;
    }
  }
}

footer {
  @apply text-sky-300 text-3xl leading-10 md:leading-12 tracking-widest;

  p::after {
    @apply inline-block bg-current ml-2 w-10 h-10 text-orange-500 mask-center mask-no-repeat mask-cover;
    content: "\0a0";
    mask-image: url(/eyehand.svg);
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
  }

  a {
    @apply bg-blue-100 text-sky-500 transition-all;

    &:hover {
      @apply bg-orange-500 text-white;
    }
  }
}
